@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --color-primary: #0043ae;
    --color-primary-dark: #0023ae;
    --color-secondary: #10b981;
    --color-secondary-dark: #059669;
    --color-background: #ffffff;
    --color-background-dark: #111827;
    --color-text: #1f2937;
    --color-text-dark: #f9fafb;
    --color-text-btn: #ffffff;
    --color-border-custom: #f3f4f6;
  }

  .dark {
    --color-primary: #a2ffff;
    --color-primary-dark: #3b82f6;
    --color-primary-dark: #42ffff;
    --color-secondary: #34d399;
    --color-secondary-dark: #10b981;
    --color-background: #111827;
    --color-background-dark: #030712;
    /* --color-background: #0051ff; navbar footer overflow*/
    /* --color-background-dark: #0044ff //hero project contact footer; */
    /* #101828 about*/
    --color-text: #f9fafb;
    --color-text-dark: #e5e7eb;
    --color-text-btn: #000000;
    --color-border-custom: #1e2939;
    /* #1b283c card background */
  }

  body {
    @apply bg-background text-text transition-colors duration-200;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }

  .section {
    @apply py-16 md:py-24;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-8 text-center;
  }

  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark;
  }

  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary-dark;
  }
}
